/*gewichten component*/
div.gewichtComponent {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.gewichtComponent table {
  margin-bottom: 0;
}

div.gewichtComponent div.nhc-clickable {
  text-align: center;
}

div.gewichtComponent .table > thead > tr > th {
  border-radius: 0;
}
.tableScroll{
  padding:2px;
  height: 150px;
  overflow: auto;
}

div#overzichtFiche button.saveButton {
  width: 100%;
  border-radius: 4px;
  height: 30px;
  margin-top: 10px;
  margin-left: -1px !important;
  color: whitesmoke;
  font-size: 14px;
  background-color: #1E5162 !important;
  border-color: var(--off-black);
}
