<div id="opnameTablet_opnameStarten" class="opnameTabletContainer">

  <div class="opnameTabletContent">
    <div class="idLabel"><p>{{opnameNummer}}</p></div>
    <img src="../../assets/images/rub18.png" alt="opnameLogo">
  </div>

  <div class="opnameTabletFooter">
    <div class="form-group">
      <div class="col-xs-12">
        <button (click)="onClick_opnameStarten()"
                name="opnameStarten" type="button" id="opnameStarten" class="form-control opnameTabletSubmitButton">
          Opname
        </button>
      </div>
    </div>
  </div>

</div>
