<div class="col-xs-3 task-category">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal task-category-header">
        {{taskCategory.name}}
      </form>
    </div>
  </div>
  <form class="form-horizontal task-category-content">
    <perfect-scrollbar class="row" [usePSClass]="true">
        <app-task-planner-task-item *ngFor="let task of taskCategory.tasks" [task]="task" [currentDate]="currentDate" class="content"></app-task-planner-task-item>
    </perfect-scrollbar>
  </form>
</div>

