<div class="row">
  <div class="col-xs-12">
    <button  type="button" class="btn btn-success pull-right" (click)="onClickAdd()"><i class="fa fa-plus"></i>&nbsp;Nieuwe categorie</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-responsive">
      <thead>
      <td>Systeemid</td>
      <td>Naam</td>
      <td># taken</td>
      <td></td>
      </thead>
      <tbody>
      <tr *ngFor="let taskCategory of taskCategories | async">
        <td>{{taskCategory.id}}</td>
        <td>{{taskCategory.name}}</td>
        <td>{{taskCategory.numberOfTasks}}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="onClickEdit(taskCategory)"><i class="fa fa-pencil"></i></button>
          <button type="button" class="btn btn-success" (click)="onClickDelete(taskCategory)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
