<div class="modal-content">
  <div class="modal-header">
    <h3 class="form-horizontal-header">{{algemeenModalHeader}}</h3>
  </div>
  <div class="modal-body">
    <div class="col-xs-10 col-xs-offset-1">
      {{algemeenModalText}}
    </div>
    <div class="clearfix"></div>

    <div class="modal-footer" style="text-align: center">
     <div>
       <div class="col-xs-4"><button class="saveButton" (click)="onClick_single()">Eén wijzigen</button></div>
       <div class="col-xs-4"><button class="saveButton" (click)="onClick_groep()">Groep wijzigen</button></div>
       <div class="col-xs-4"><button class="saveButton" (click)="onClick_annuleer()">Terug</button></div>
     </div>
    </div>
  </div>
</div>
