<div id="navigatieButtonGroup">
  <div>
    <button #nazorgButton (click)="toggleFiches($event)" type="button" value="nazorgButton" class="active">
      Nazorg
      fiche
    </button>
  </div>
  <div>
    <button #medischeButton (click)="toggleFiches($event)" type="button" value="medischeButton">Medische fiche
    </button>
  </div>
  <div>
    <button #quarantaineButton (click)="toggleFiches($event)" type="button" value="quarantaineButton">
      Quarantaine
      fiche
    </button>
  </div>
</div>
