:root {
  --off-white-r: 255;
  --off-white-g: 255;
  --off-white-b: 231;
  --off-white: rgb(var(--off-white-r), var(--off-white-g), var(--off-white-b));
}

div.opnameTabletContainer {
  position: relative;
  height: 90vh;
  width: 100vw;
}

div.opnameTabletContent {
  position: absolute;
  top: 20px;
  bottom: 200px;
  left: 20px;
  right: 20px;
  margin: auto;
  vertical-align: middle !important;
}

div.opnameTabletFooter {
  position: absolute;
  bottom: 125px;
  left: 0;
  width: 100%;
}

/*volgnummer*/
div.idLabel {
  text-align: center;
}

div.idLabel > p {
  font-size: 20px;
  font-weight: bolder;
}

/*form*/
.form-horizontal{
  min-width: 100% !important;
  height: 100% !important;
}

div.opnameTabletContent .form-control{
  font-size: 24px !important;
  height:40px !important;
  -webkit-appearance: none !important;
}

/*form - datepicker -> -> zie css "stylesThomasmore.css" */

/*form - checkboxen en labels*/
div.opnameTabletContent div.customCheckboxGroup,
div.opnameTabletContent div.customCheckbox{
  height: 50px ;
  font-size: 22px !important;
  /*font-weight -> -> zie css "stylesThomasmore.css"*/
  /*checkbox-size -> -> zie css "stylesThomasmore.css"*/
}

/*form - placeholder color*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--off-white);
}

::-moz-placeholder { /* Firefox 19+ */
  color: var(--off-white);
}

:-ms-input-placeholder { /* IE 10+ */
  color: var(--off-white);
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--off-white);
}

/*submitButton*/
button.opnameTabletSubmitButton {
  /*background-color: var(--off-blue) !important;*/
  background-color: #1E5162;
  height: 50px;
  border-radius: 15px;
  font-size: 30px;
  color: var(--off-white) !important;
}
