<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Ben je zeker dat je de quarantaine handeling '{{quarantaineAction.name}}' wil verwijderen?</label>
      </div>
      <div class="form-group pull-right">
        <button type="button" class="btn btn-success" (click)="onClickSave()"><i class="fa fa-trash"></i>&nbsp;Verwijderen</button>
        <button type="button" class="btn btn-success" (click)="onClickCancel()"><i class="fa fa-remove"></i>&nbsp;Annuleren</button>
      </div>
    </div>
  </div>
</div>
