<div class="modal-header">
	<h3>Naar IC</h3>
</div>
<div class="modal-body">
	<form role="form" class="form-horizontal">
		<ng-include src="'/v2/fiche/modal_form_common_part.html'"></ng-include>
		<div class="form-group form-group-sm">
			<label for="entrance" class="col-sm-3 control-label">Aankomst</label>
			<div class="col-sm-4">
				<nhc-date-picker id="entrance" nhc-date="guest.entrance" nhc-disabled="disabled"></nhc-date-picker>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn nhc-btn" ng-click="ok()">Bevestigen</button>
	<button class="btn nhc-btn" ng-click="cancel()">Annuleren</button>
</div>