<div class="modal-header">
    <h3 class="form-horizontal-header">Opname reden&nbsp;<span
            ng-if="!appform.$pristine"
            class="fa fa-pencil"></span></h3>
</div>

<div class="modal-body">
    <form name="appform"
          role="form"
          class="form-horizontal">
        <div class="form-group form-group-sm">
            <label for="id"
                   class="col-sm-3 control-label">Systeem
                ID</label>
            <div class="col-sm-2">
                <div id="id"
                     class="form-control-static"
                     ng-bind="entrance_reason.id">
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label for="name"
                   class="col-sm-3 control-label">Reden</label>
            <div class="col-sm-6">
                <input id="name"
                       class="form-control"
                       ng-model="entrance_reason.name"
                       ng-virtual-keyboard/>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">Standaard</label>
            <div class="col-sm-1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               ng-model="entrance_reason.standard"
                               ng-true-value="1"
                               ng-false-value="0"/>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">Gebruik toestaan</label>
            <div class="col-sm-1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               ng-model="entrance_reason.use_allowed"
                               ng-true-value="1"
                               ng-false-value="0"/>
                    </label>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button ng-if="!appform.$pristine"
            class="btn nhc-btn" ng-click="ok()">Bewaren</button>
    <button class="btn nhc-btn" ng-click="cancel()">Annuleren</button>
</div>
